<!-- Search com Angular Material -->
<!-- <div class="search">
  <mat-form-field class="search_field">
    <mat-label>Buscar Pokemon...</mat-label>
    <input 
      [(ngModel)] = "searchValue"
      type="text" 
      matNativeControl
      placeholder="Charmander">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div> -->

<!-- Search sem angular material -->
<div class="search">
  <input
    type="text" 
    placeholder="Buscar Pokemon..." 
    [(ngModel)]="searchValue">
  <img src="assets/search.svg" alt="Buscar pokemon">
</div>
